.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: left;
    margin-top: 5px ;
    
    /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #keep-track {
    background-color: #0a2461;
    border: 1px solid #0a2461;
  }

  #hello {
    background-color: #0a2461;
    border: 1px solid #0a2461;
    margin-top: 20px;
  }

  #keep-track {
    background-color: #0a2461;
    border: 1px solid #0a2461;
  }

  #add-review {
    background-color: #3b5970;
    border: 1px solid #3b5970;
  }

  #matchmaker {
    background-color: #7e9196;
    border: 1px solid #7e9196;
    color: white;
  }


  .jumbotron {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5), 0 34px 80px 0 rgba(0, 0, 0, 0.19);
  }

  #drama {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5), 0 34px 80px 0 rgba(0, 0, 0, 0.19);
  }

  #matchInput {
    background-color: white;
    margin-top: 20px;
    border-radius: .3rem;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5), 0 34px 80px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
  }

  #favRestaurantInput {
    height: 30px;
  }

  #restaurantList {
    text-align: center;
    background-color: white;
  }

  .cards {
   
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5), 0 34px 80px 0 rgba(0, 0, 0, 0.19);
  }

 #firstBox {
    background-image: url("../img/bg1.jpeg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 400px;
  }

  #secondBox {
    background-image: url("../img/bg2.jpeg");
    background-position: 40% 40%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 300px;
  }
  #secondboxbtn.text-center {
    margin-top: 100px;
  }
#nuovaBox.jumbotron {
  background-image: url("../img/bg3.jpeg");
  background-position: 50% 50%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 400px;
    padding-top: 100px;
    padding-left: 50px;
}
.anotherButtons{
  margin-top: 100px;
}
#novaBox.jumbotron{
  background-image: url("../img/bg5.jpeg");
  background-position: 20% 20%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 400px;
    padding-top: 200px;
    /* color: lightpink;
    text-shadow: 3px 2px black; */
}

  /* .restaurantButton {
    border: none;
  } */